<div class="container">
    
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">nombre</label>
        <input type="text" name="nombre" placeholder="nombre" class="form-control" id="nombre" [(ngModel)]="nombre">
      </div>
  
      <div class="mb-3">
        <label for="apellido" class="form-label">apellido</label>
        <input type="text" name="apellido" placeholder="apellido" class="form-control" id="apellido"
          [(ngModel)]="apellido">
      </div>
  
      <div class="mb-3">
        <label for="cargo" class="form-label">cargo</label>
        <input type="text" name="cargo" placeholder="cargo" class="form-control" id="cargo" [(ngModel)]="cargo">
      </div>
  
      <div class="mb-3">
        <label for="salario" class="form-label">salario</label>
        <input type="number" name="salario" placeholder="salario" class="form-control" id="salario" [(ngModel)]="salario">
      </div>
  
  
      <button type="submit" class="btn btn-primary" (click)="editarEmpleado()" >Agregar</button>
    </form><br>
  </div>