<div class="container">
  <div class="col">{{titulo}}</div>
  <app-empleado (empleadoEvent)="agregarEmpleadoEvent($event)"></app-empleado>
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of lista,let indice=index">
        emplead@: {{empleado.nombre}} {{empleado.apellido}}
        cargo:
        {{empleado.cargo}}
        salario:
        {{empleado.salario}}
        
          <a [routerLink]="['/editar',indice]" [queryParams]="{accion:'1'}">Editar</a>
       
       &nbsp;&nbsp;
        
          <a [routerLink]="['/editar',indice]" [queryParams]="{accion:'0'}">Eliminar</a>
       
      </div>
    </div>
  </div>
  <br>
</div>